# Thesis - Experimet Datasets (additional analysis)

By: Jimuel Celeste, Jr. 

Objective: To describe the distribution of labels by set.

In [1]:
import os 

import pandas as pd

## CV

In [2]:
metadata = '/Users/jimuelcelestejr/Downloads/Dataset/Thesis - Features/Thesis - Acoustic Features/egemaps_functionals/metadata_cv_english.csv'
df = pd.read_csv(metadata)
df.head()

,filename,record_id,subject_id,age,sex,educ,mmse,dx,dx_binary,dataset,language
0,S002.csv,S002,S002,62.0,F,NaN,30.0,NC,0,ADReSS,en
1,S003.csv,S003,S003,69.0,F,NaN,29.0,NC,0,ADReSS,en
2,S004.csv,S004,S004,71.0,F,NaN,30.0,NC,0,ADReSS,en
3,S005.csv,S005,S005,74.0,F,NaN,30.0,NC,0,ADReSS,en
4,S006.csv,S006,S006,67.0,F,NaN,29.0,NC,0,ADReSS,en

In [3]:
df.shape

(462, 11)

In [4]:
df['dx_binary'].value_counts()

dx_binary
1    235
0    227
Name: count, dtype: int64

In [6]:
df['dx_binary'].value_counts() / df.shape[0] * 100

dx_binary
1    50.865801
0    49.134199
Name: count, dtype: float64

In [7]:
df['mmse'].describe()

count    462.000000
mean      23.376623
std        6.814949
min        1.000000
25%       18.000000
50%       26.500000
75%       29.000000
max       30.000000
Name: mmse, dtype: float64

In [10]:
df[df['dx_binary']==1]['mmse'].describe()

count    235.000000
mean      17.978723
std        5.530372
min        1.000000
25%       14.000000
50%       18.000000
75%       22.000000
max       30.000000
Name: mmse, dtype: float64

In [11]:
df[df['dx_binary']==0]['mmse'].describe()

count    227.000000
mean      28.964758
std        1.185678
min       24.000000
25%       28.000000
50%       29.000000
75%       30.000000
max       30.000000
Name: mmse, dtype: float64

In [12]:
df['mmse'].isna().sum()

0

## EV 1: English 1

In [13]:
metadata = '/Users/jimuelcelestejr/Downloads/Dataset/Thesis - Features/Thesis - Acoustic Features/egemaps_functionals/metadata_ev_english_control.csv'
df = pd.read_csv(metadata)
df.head()

,filename,record_id,subject_id,age,sex,educ,mmse,dx,dx_binary,dataset,language
0,taukdial-002-3.csv,taukdial-002-3,taukdial-002,72.0,F,NaN,29.0,NC,0,TAUKADIAL,en
1,taukdial-005-3.csv,taukdial-005-3,taukdial-005,68.0,F,NaN,29.0,NC,0,TAUKADIAL,en
2,taukdial-008-3.csv,taukdial-008-3,taukdial-008,84.0,F,NaN,29.0,NC,0,TAUKADIAL,en
3,taukdial-010-3.csv,taukdial-010-3,taukdial-010,91.0,F,NaN,27.0,MCI,1,TAUKADIAL,en
4,taukdial-011-3.csv,taukdial-011-3,taukdial-011,66.0,F,NaN,25.0,MCI,1,TAUKADIAL,en

In [14]:
df.shape

(82, 11)

In [17]:
df['dx'].value_counts()

dx
MCI    51
NC     31
Name: count, dtype: int64

In [18]:
df['dx'].value_counts() / df.shape[0] * 100

dx
MCI    62.195122
NC     37.804878
Name: count, dtype: float64

In [19]:
df['mmse'].describe()

count    82.000000
mean     28.280488
std       1.279220
min      25.000000
25%      27.250000
50%      29.000000
75%      29.000000
max      30.000000
Name: mmse, dtype: float64

In [20]:
df[df['dx_binary']==1]['mmse'].describe()

count    51.000000
mean     27.686275
std       1.224585
min      25.000000
25%      27.000000
50%      28.000000
75%      29.000000
max      30.000000
Name: mmse, dtype: float64

In [21]:
df[df['dx_binary']==0]['mmse'].describe()

count    31.000000
mean     29.258065
std       0.575485
min      28.000000
25%      29.000000
50%      29.000000
75%      30.000000
max      30.000000
Name: mmse, dtype: float64

In [22]:
df['mmse'].isna().sum()

0

## EV 2: English 2

In [23]:
metadata = '/Users/jimuelcelestejr/Downloads/Dataset/Thesis - Features/Thesis - Acoustic Features/egemaps_functionals/metadata_ev_english.csv'
df = pd.read_csv(metadata)
df.head()

,filename,record_id,subject_id,age,sex,educ,mmse,dx,dx_binary,dataset,language
0,taukdial-002-1.csv,taukdial-002-1,taukdial-002,72.0,F,NaN,29.0,NC,0,TAUKADIAL,en
1,taukdial-002-2.csv,taukdial-002-2,taukdial-002,72.0,F,NaN,29.0,NC,0,TAUKADIAL,en
2,taukdial-005-1.csv,taukdial-005-1,taukdial-005,68.0,F,NaN,29.0,NC,0,TAUKADIAL,en
3,taukdial-005-2.csv,taukdial-005-2,taukdial-005,68.0,F,NaN,29.0,NC,0,TAUKADIAL,en
4,taukdial-008-1.csv,taukdial-008-1,taukdial-008,84.0,F,NaN,29.0,NC,0,TAUKADIAL,en

In [24]:
df.shape

(164, 11)

In [26]:
df['dx'].value_counts()

dx
MCI    102
NC      62
Name: count, dtype: int64

In [27]:
df['dx'].value_counts() / df.shape[0] * 100

dx
MCI    62.195122
NC     37.804878
Name: count, dtype: float64

In [29]:
df['mmse'].describe()

count    164.000000
mean      28.280488
std        1.275290
min       25.000000
25%       27.000000
50%       29.000000
75%       29.000000
max       30.000000
Name: mmse, dtype: float64

In [30]:
df[df['dx_binary']==1]['mmse'].describe()

count    102.000000
mean      27.686275
std        1.218507
min       25.000000
25%       27.000000
50%       28.000000
75%       29.000000
max       30.000000
Name: mmse, dtype: float64

In [31]:
df[df['dx_binary']==0]['mmse'].describe()

count    62.000000
mean     29.258065
std       0.570748
min      28.000000
25%      29.000000
50%      29.000000
75%      30.000000
max      30.000000
Name: mmse, dtype: float64

In [ ]:
df['mmse'].isna().sum()

## EV 3: Greek

In [33]:
metadata = '/Users/jimuelcelestejr/Downloads/Dataset/Thesis - Features/Thesis - Acoustic Features/egemaps_functionals/metadata_ev_greek.csv'
df = pd.read_csv(metadata)
df.head()

,filename,record_id,subject_id,age,sex,educ,mmse,dx,dx_binary,dataset,language
0,madrs002.csv,madrs002,madrs002,78.0,F,0.0,24.0,Probable AD,1,ADReSS-M,el
1,madrs009.csv,madrs009,madrs009,60.0,F,6.0,29.0,NC,0,ADReSS-M,el
2,madrs010.csv,madrs010,madrs010,62.0,F,16.0,30.0,NC,0,ADReSS-M,el
3,madrs012.csv,madrs012,madrs012,82.0,F,15.0,23.0,Probable AD,1,ADReSS-M,el
4,madrs013.csv,madrs013,madrs013,63.0,F,10.0,29.0,NC,0,ADReSS-M,el

In [34]:
df.shape

(54, 11)

In [35]:
df['dx'].value_counts()

dx
NC             28
Probable AD    26
Name: count, dtype: int64

In [37]:
df['dx'].value_counts() / df.shape[0] * 100

dx
NC             51.851852
Probable AD    48.148148
Name: count, dtype: float64

In [38]:
df['mmse'].describe()

count    54.000000
mean     25.185185
std       5.077044
min      12.000000
25%      23.000000
50%      27.000000
75%      29.000000
max      30.000000
Name: mmse, dtype: float64

In [39]:
df[df['dx_binary']==1]['mmse'].describe()

count    26.000000
mean     21.115385
std       4.483989
min      12.000000
25%      18.250000
50%      23.000000
75%      24.750000
max      27.000000
Name: mmse, dtype: float64

In [40]:
df[df['dx_binary']==0]['mmse'].describe()

count    28.000000
mean     28.964286
std       1.104943
min      26.000000
25%      28.000000
50%      29.000000
75%      30.000000
max      30.000000
Name: mmse, dtype: float64

## EV 4: Chinese

In [41]:
metadata = '/Users/jimuelcelestejr/Downloads/Dataset/Thesis - Features/Thesis - Acoustic Features/egemaps_functionals/metadata_ev_chinese.csv'
df = pd.read_csv(metadata)
df.head()

,filename,record_id,subject_id,age,sex,educ,mmse,dx,dx_binary,dataset,language
0,taukdial-001-1.csv,taukdial-001-1,taukdial-001,70.0,F,NaN,27.0,NC,0,TAUKADIAL,zh
1,taukdial-001-2.csv,taukdial-001-2,taukdial-001,70.0,F,NaN,27.0,NC,0,TAUKADIAL,zh
2,taukdial-001-3.csv,taukdial-001-3,taukdial-001,70.0,F,NaN,27.0,NC,0,TAUKADIAL,zh
3,taukdial-003-1.csv,taukdial-003-1,taukdial-003,80.0,M,NaN,23.0,MCI,1,TAUKADIAL,zh
4,taukdial-003-2.csv,taukdial-003-2,taukdial-003,80.0,M,NaN,23.0,MCI,1,TAUKADIAL,zh

In [42]:
df.shape

(261, 11)

In [43]:
df['dx'].value_counts()

dx
MCI    132
NC     129
Name: count, dtype: int64

In [44]:
df['dx'].value_counts() / df.shape[0] * 100

dx
MCI    50.574713
NC     49.425287
Name: count, dtype: float64

In [45]:
df['mmse'].describe()

count    261.000000
mean      26.287356
std        4.109767
min       13.000000
25%       24.000000
50%       27.000000
75%       30.000000
max       30.000000
Name: mmse, dtype: float64

In [46]:
df[df['dx_binary']==1]['mmse'].describe()

count    132.000000
mean      23.704545
std        4.272652
min       13.000000
25%       20.000000
50%       24.500000
75%       27.000000
max       30.000000
Name: mmse, dtype: float64

In [48]:
df[df['dx_binary']==0]['mmse'].describe()

count    129.000000
mean      28.930233
std        1.306152
min       25.000000
25%       28.000000
50%       29.000000
75%       30.000000
max       30.000000
Name: mmse, dtype: float64

In [49]:
df['mmse'].isna().sum()

0